<div class="container">
  <div class="home-container__main--cards">
    <div class="home-container__main--cards-card">
      <img
        class="home-container__main--cards-card-img"
        src="../../../assets/images/item 4.png"
      />
      <div class="home-container__main--cards-card-info">
        <div>
          <p>MB.02 Phenom Basketball Shoes</p>
          <p>$130</p>
        </div>
        <button
          routerLink="products"
          class="home-container__main--cards-card-btn"
        >
          See All
        </button>
      </div>
    </div>
    <div class="home-container__main--cards-card">
      <img
        class="home-container__main--cards-card-img"
        src="../../../assets/images/item 10.png"
      />
      <div class="home-container__main--cards-card-info">
        <div>
          <p>MB.03 Phenom Basketball Shoes</p>
          <p>$130</p>
        </div>
        <button
          class="home-container__main--cards-card-btn"
          routerLink="products"
        >
          See All
        </button>
      </div>
    </div>
  </div>
  <div class="banner"></div>

  <!-- <div class="product-items">
    <app-product-card
      *ngFor="let product of products"
      [product]="product"
    ></app-product-card>
  </div> -->
</div>
